/* Form group */
.form-group-floating {
  font-family: 'Inter';
    position: relative;
  }
  
  /* Input field */
  .form-control-floating {
    background-color: #F3F2F2;
    width: 100%;
    height: fit-content;
    height: 3.44em;
    padding: 1.5em 1em 0.4em 1.3em;
    border: 0px solid #ced4da;
    /*font-weight: 400;*/
    font-size: 0.9em;
    border-radius: 0.25rem;
  }
  
  /* Floating label */
  .form-group-floating label {
    font-size: 1em;
    color: grey;
    position: absolute;
    top: 0.8em;
    bottom: 0.3em;
    left: 1.3em;
    pointer-events: none;
    transition: 0.2s ease-out all;
  }
  
  /* Floating label animation */
  .form-group-floating .form-control-floating:focus ~ label,
  .form-group-floating .form-control-floating:not(:placeholder-shown) ~ label {
    border-radius: 5px;
    height: fit-content;
    padding: 0 0.8em;
    top: 0.4rem;
    left: 0.5rem;
    font-size: 0.82rem;
    color: rgb(46, 46, 46);
    font-weight: 500;
  }
  
  
  
  .form-group-floating .form-control-floating:not(:placeholder-shown) ~ label {
    color: black;
    }
  
  .icon-toggle-btn {
    display: grid;
    place-items: center;
    position: absolute;
    height: fit-content;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
  }

  .form-control-floating:focus {
    border: 1.4px solid #007bff;
    box-shadow: 0 0 0 0.24rem #3387db33;
  }