.accordion-section {
    margin-bottom: 10px;
    width: 100%;
  }
  
  .accordion-header {
    cursor: pointer;
    padding: 1.4em;
    /*background-color: #eee;*/
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 0.8em;
    box-shadow:  0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  }
  
  .accordion-header.active {
    /*background-color: #ddd;*/
  }
  
  .accordion-content {
    padding: 0 1.4em 1.7em 1.4em;
    z-index: 20;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 0 0 0.8em 0.8em;
    border-top: 0;
    box-shadow:  0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  }

  .accordion-section.hidden {
    display: none;
  }
  
  