
* {
    scrollbar-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    scrollbar-width: thin;
    scroll-padding: 0;
    list-style: none;
}

li {
    list-style-type: '• ';
   
  }

  ul {
    padding-left: 11.5px !important;
  }

*::-webkit-scrollbar-track {
    background-clip: padding-box;
  border-radius: 10px;
  z-index: 1;
  box-sizing: border-box;
}
::marker {
    padding-left: 11.5pt;
}

.home, .bg-grey {
    background-color: rgb(219, 219, 219);
}

.form-section {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    gap: 1em;
    overflow-y: scroll;
    border-radius: 0.75em;
    height: fit-content;
    width: fit-content;
    padding-bottom: 5em;
}

.btn-dotted {
    font-family: Poppins;
    font-weight: 600;
    font-size: 0.94em;
    border-radius: 4em;
    padding: 0.5em 1.5em;
    border: 3px solid rgb(179, 179, 179);
    border-style: dashed;
}

.btn-primary {
    font-family: Poppins;
    font-weight: 500;
    font-size: 0.85em;
    border-radius: 4em;
    padding: 0.5em 1.1em;
    background-color: rgb(28, 36, 107);
    color: white;
}





/*grid place-items-center h-[100px] w-[400px] bg-white rounded-[0.75em]*/

.form-card {
    padding: 1.7em 1.4em;
    width: 97%;
    background-color: white;
    border-radius: 0.8em;
    box-shadow:  0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

/* Track */
.home::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 56px;
  }

  @media screen and (max-width: 768px) {
    .form-section {
        width: 99.5%;
        border-radius: 0;
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
        gap: 1em;
        overflow-y: scroll;
        
        height: fit-content;
        width: fit-content;
        padding-bottom: 5em;
    }

    .form-card {
        padding: 1.7em 1.4em;
        width: 100%;
        background-color: white;
        border-radius: 0.8em;
        box-shadow:  none;
    }

    .home, .bg-grey {
        background-color: #f1f1f1;
    }

    .btn-dotted {
        font-family: Poppins;
        font-weight: 800;
        font-size: 0.94em;
        border-radius: 4em;
        padding: 0.5em 1.5em;
        border: 0px solid rgb(179, 179, 179);
        border-style: none;
    }
    
  }