* {
  box-sizing: border-box;
  outline: none;
  
  
}

@tailwind base;
@tailwind components;
@tailwind utilities;





.form-control::selection {
  background-color: rgba(20, 20, 20, 0.1);

}

.main {
  display: grid;
  grid-template-columns: 23em auto;
  height: 100%;
  overflow-y: hidden;
  background-color: #ceced6;
}

.section-title {
  font-weight: 500;
  font-size: 1.05em;
}

.danger {
  color: rgb(226, 85, 85);
}
.secondary {
  color: #7c7c7c;
}

.page {
    width: max-content;
    height: max-content;
    border-radius: 2px;
    box-shadow: 5px rgba(202, 202, 202, 0.25);
    /*border: 1px solid black;*/
}

/* Container for the input group */
.input-group {
    position: relative;
  }
  
  /* Text input style */
  .form-control {
    font-size: 0.9em;
    padding: 1.2em 0.8em;
    display: flex;
    align-content: center;
    flex-direction: row;
    gap: 2em;
    width: 100%;
    height: calc(2.25rem + 2px);
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.4rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }


.form-label {
  font-family: Poppins;
  
  font-weight: 500;
  color: #1f1f1f;
}

  /* Floating label effect */
  .form-control:focus {
    border: 1px;
    border-color: #007bff;
    box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.55);
  }

  .pdf-parent {
    display: grid;
    overflow-x: hidden;
    background-color: rgb(221, 220, 220);
    overflow-y: scroll;
  }
  


  .flex-item {
    flex-basis: calc(50% - 10px); /* 50% width with a little space between items */
  }

  .pdf-preview-placeholder {
    width: 42.4vw; /* 80% of the viewport width */
    height: calc(42.4vw * 1.41428); /* Calculate height based on width to maintain A4 aspect ratio */
    background-color: white;
    color: white;
    content: "";
  }

 




  @media screen and (max-width: 920px) {
    /*.desktop {
      display: none;
    }*/

    .main {
      display: grid;
      grid-template-columns: 100%;
    }
  }