@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    box-sizing: border-box;
    outline: none;
}
.page {
    width: max-content;
    border: 1px solid black;
}

/* Container for the input group */
.input-group {
    position: relative;
    margin-bottom: 20px;
  }
  
  /* Text input style */
  .form-control {
    font-size: 16px;
    padding: 1.4em 0.8em;
    display: flex;
    flex-direction: row;
    gap: 2em;
    width: 100%;
    height: calc(2.25rem + 2px);
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  


.form-label {
  font-family: Poppins;
  font-size: 0.85em;
  font-weight: 500;
  color: #757579;
}

  /* Floating label effect */
  .form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  
  .main {
    display: flex;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 1em;
    place-items: center;
    padding: 3em;
    height: 100vh;
  }

  .section-title {
    margin-bottom: 0.9em;
    font-weight: 500;
    font-size: 1.2em;
  }

  .flex-item {
    flex-basis: calc(50% - 10px); /* 50% width with a little space between items */
  }
  @media screen and (max-width: 600px) {
    .desktop {
      display: none;
    }
  }